[build-system]
build-backend = "setuptools.build_meta"
requires = ["setuptools", "wheel"]

[project]
name = "daisy"
description = "Blockwise task scheduler for processing large volumetric data."
version = "1.2.0"
license = {text = "MIT"}
readme = "README.md"
authors = [
  {name = "William Patton", email = "pattonw@hhmi.org"},
  {name = "Jan Funke", email = "funkej@janelia.hhmi.org"},
  {name = "Tri M. Nguyen", email = "tri_nguyen@hms.harvard.edu"},
  {name = "Caroline Malin-Mayor", email = "malinmayorc@janelia.hhmi.org"}
]

requires-python = ">=3.7"
classifiers = [
  "Programming Language :: Python :: 3",
]
keywords = []

dependencies = [
  "numpy",
  "tornado>=5",
  "tqdm",
  "funlib.math",
  "funlib.geometry",
  "dill",
]

[project.optional-dependencies]
dev = [
  "pytest",
  "black",
  "mypy",
  "filelock",
]

[tool.black]
target_version = ['py37', 'py38', 'py39', 'py310']

# # module specific overrides
[[tool.mypy.overrides]]
module = [
    "funlib.*",
    "tqdm.*",
    "pkg_resources.*",
    "dill",
]
ignore_missing_imports = true